node_modules

/.wrangler
/build
.env
.dev.vars
/.wrangler
/build
.env
.dev.vars
/.cache
/build
.env
.vercel
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.vscode
localhost-key.pem
localhost.pem
/app/embeddingBatch.ts
/docs/secretvariables.md
memo.md
