@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-4xl font-bold;
}

.postContent h3, .markdownEditorPreview h3 {
  @apply text-xl font-bold mb-2;
}

.postContent h4, .markdownEditorPreview h4 {
  @apply text-lg font-bold mb-2;
}

.postContent h5, .markdownEditorPreview h5 {
  @apply text-lg font-bold mb-2;
}

.postContent table, .markdownEditorPreview table {
  @apply w-full border-collapse mb-4;
}

.postContent table td, .markdownEditorPreview table td {
  @apply border border-gray-300 px-4 py-2;
}

.postContent table td:first-child, .markdownEditorPreview table td:first-child {
  @apply font-bold;
}

.postContent ul, .markdownEditorPreview ul{
  @apply list-disc list-outside mb-4 ml-4;
}

.postContent li, .markdownEditorPreview li {
  @apply mb-1;
}

.postContent, .markdownEditorPreview {
  @apply text-lg;
}

.postContent a, .markdownEditorPreview a{
  @apply text-blue-600 underline underline-offset-4;
}

.markdownEditorPreview th {
  @apply bg-gray-100 text-left font-semibold 

}

.templateSubmitForm {
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  padding: 1.5rem;
  margin-bottom: 2rem;
}

.templateSubmitForm h1 {
  margin-bottom: 1rem;
}

.templateSubmitForm ul {
  list-style-type: disc;
  list-style-position: inside;
  margin-bottom: 1.5rem;
  color: #4a5568;
}

.templateSubmitForm li {
  margin-bottom: 0.5rem;
}

.templateSubmitForm h2 {
  margin-bottom: 1rem;
}

.templateSubmitForm p {
  color: #4a5568;
}