.light .main-campus {
  background-color: #F2F0E8;
  color: black;
  padding: 20px;
}

.light .navbar {
  background-color: #F2F0E8;
}

.light .navbar .navbar-brand {
  color: black;
}

.light .previewContainer {
  background-color: #F5F5DC;
}


.dark .main-campus {
  background-color: #333;
  color: white;
  padding: 20px;
}

.dark .navbar {
  background-color: #333;
}

.dark .previewContainer {
  background-color: #2F4F4F;
}

.submitButton {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  display: block;
}