.light .main-campus {
  background-color: white;
  color: black;
  padding: 20px;
}

.light .navbar .navbar-brand {
  color: black;
}

.dark .main-campus {
  background-color: #333;
  color: white;
  padding: 20px;
}



.dark .navbar {
  background-color: #333;
}