.main-campus {
  /*スマートフォン*/
  padding-left: 24px;
  padding-right: 24px;

  /*タブレット*/
  @media (min-width: 768px){
    padding-left: 48px;
    padding-right: 48px;
  }
  /*小型PC用*/
  @media (min-width: 992px){
    padding-left: 96px;
    padding-right: 96px;
  }
  /*大型PC用*/
  @media (min-width: 1200px){
    padding-left: 360px;
    padding-right: 360px;
  }
}

.light .main-campus {
  background-color: #F2F0E8;
  color: black;
}

.light .navbar {
  background-color: #F2F0E8;
}

.light .navbar .navbar-brand {
  color: black;
}

.light .previewContainer {
  background-color: #F5F5DC;
}


.dark .main-campus {
  background-color: #333;
  color: white;
}

.dark .navbar {
  background-color: #333;
}

.dark .previewContainer {
  background-color: #2F4F4F;
}

.submitButton {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  display: block;
}
