name: Preview Deployment

on:
  pull_request_target:
    types: [opened, synchronize]
  workflow_dispatch:

jobs:
  gsls:
    runs-on: ubuntu-latest
    environment: preview
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ github.event.pull_request.head.sha }}
        
      - uses: google-github-actions/auth@7c6bc770dae815cd3e89ee6cdf493a5fab2cc093 # v3
        with:
          workload_identity_provider: 'projects/793318155385/locations/global/workloadIdentityPools/github-actions-pool-3/providers/github-actions-provider-3'
          service_account: 'github-actions@healthy-person-emulator.iam.gserviceaccount.com'

      - name: Deploy
        run: |
         gcloud run deploy preview-healthy-person-emulator-dotorg --source . \
          --region=asia-northeast1 \
          --concurrency=1 \
          --memory=2Gi \
          --cpu=2 \
          --timeout=300 \
          --project=healthy-person-emulator \
          --service-account=github-actions@healthy-person-emulator.iam.gserviceaccount.com \
          --verbosity=debug \
          --base-image nodejs22
